.con{
	margin-left: 50px !important;
}


.container{

	background-color: lightgray !important;
}

.button{
	margin-left: 1000px;
	height: 30px;
}
.button:hover{
	background-color: blue;
}

.contact{
	margin-left: -167px;
	margin-top: 110px;
	font-size: 12px;

}


